<div>
    <div class="container">
        <h1 class="text-center" id="header-text"> Create a Job Seeker Account </h1>
        <p class="text-center">Get started to get jobs</p>
        <hr>
        <div class="form">
            <form [formGroup]="jobseekersForm" (ngSubmit)="onSubmit()" autocomplete="off"
                novalidate>
                <div class="alert alert-success" *ngIf="jobseekersForm.submitted && registerFailed">
                    registration failed {{errorMessage}}
                </div>


                <div class="alert alert-success" *ngIf="registered">
                    Your registration is successful!
                </div>
                <div class="row">

                    <div class="col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidFirstName()}">
                        <label for="firstName">First Name:</label>
                        <input formControlName="firstName" id="firstName" type="text" class="form-control"
                            placeholder="First Name..." required />
                        <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">first name</p>
                    </div>

                    <div class=" col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidLastName()}">
                        <label for="lastName">Last Name:</label>
                        <input formControlName="lastName" id="lastName" type="text" class="form-control"
                            placeholder="Last Name..." required />
                        <p *ngIf="invalidLastName()" id="last_name_error" class="help-block">last name is required</p>

                    </div>

                    <div class=" col-lg-4 col-sm-12">
                        <label for="otherName">Other Name:</label>
                        <input formControlName="otherName" id="otherName" type="text" class="form-control"
                            placeholder="Other Name..." />

                    </div>


                </div>


                <div class="row">
                    <div class="col-lg-5 col-sm-12" [ngClass]="{'has-error': invalidEmail()}">
                        <label for="email">Email:</label>
                        <input formControlName="email" id="email" type="email" class="form-control"
                            placeholder="Email..." required />
                        <p *ngIf="invalidEmail()" id="email_name_error" class="help-block">email is required</p>

                    </div>

                    <div class="col-lg-5 col-sm-12" [ngClass]="{'has-error': invalidGender()}">
                        <label for="gender">Gender:</label>
                        <select formControlName="gender" id="gender" type="gender" class="form-control"
                            placeholder="select.." required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <p *ngIf="invalidGender()" id="first_name_error" class="help-block">gender is required</p>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidDOB()}">
                        <label for="dob">Date Of Birth:</label>
                        <input formControlName="dob" id="dob" type="date" class="form-control" required />
                        <p *ngIf="invalidDOB()" id="dob_name_error" class="help-block">invalid date of birth</p>

                    </div>

                    <div class="col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidCountry()}">
                        <label for="Nationality">Country Of residence:</label>
                        <select formControlName="country" id="country" type="text" class="form-control"
                            placeholder="Nationality..." required>
                            <option value="nigeria">Nigeria</option>
                        </select>
                        <p *ngIf="invalidCountry()" id="country_name_error" class="help-block">country is required</p>

                    </div>

                    <div class=" col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidState()}">
                        <label for="state">State:</label>
                        <select formControlName="state" id="state" type="text" required class="form-control"
                            placeholder="state...">
                            <option value="edo">Edo state</option>
                        </select>
                        <p *ngIf="invalidState()" id="state_name_error" class="help-block">state is required</p>

                    </div>

                </div>

                <div class="row">


                    <div class=" col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidContact_number()}">
                        <label for="contact_number">mobile number:</label>
                        <input required formControlName="contact_number" id="contact_number" type="number"
                            class="form-control" />
                        <small id="phone-hint" class="hint">please include country code</small>
                        <p *ngIf="invalidContact_number()" id="contact_number_error" class="help-block"> contact
                            number is required</p>

                    </div>

                    <div class=" col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidQualification()}">
                        <label for="qualification">Qualification:</label>
                        <select required formControlName="qualification" id="qualification" type="text"
                            class="form-control">
                            <option value="bsc">BSC</option>
                        </select>
                        <p *ngIf="invalidQualification()" id="qualification_error" class="help-block">qualification is required</p>

                    </div>

                    <div class=" col-lg-4 col-sm-12" [ngClass]="{'has-error': invalidProfession()}">
                        <label for="profession">Profession:</label>
                        <input required formControlName="profession" id="profession" type="text" class="form-control"
                            placeholder="E.g: software developer" />
                        <p *ngIf="invalidProfession()" id="profession_error" class="help-block"> profession is required</p>

                    </div>

                </div>


                <div class="row">
                    <div class=" col-lg-5 col-sm-12" [ngClass]="{'has-error': invalidPassword()}">
                        <label for="password">password:</label>
                        <input required formControlName="password" id="password" type="password" class="form-control" />
                        <small id="password-hint" class="hint">minimum of 8 characters</small>
                        <p *ngIf="invalidPassword()" id="password_error" class="help-block">invalid password</p>

                    </div>

                    <div class=" col-lg-5 col-sm-12" [ngClass]="{'has-error': invalidConfirmPassword() || checkpassword()}" >
                        <label for="confirmPassword"> Confirm password:</label>
                        <input required appConfirmEqualValidator="password" formControlName="confirmPassword"
                            id="confirmPassword" type="password" class="form-control" />
                        <p *ngIf="invalidConfirmPassword()" id="confirm_password_error" class="help-block">confirm
                            password</p>
                            <p *ngIf="checkpassword()"  class="help-block">password do not match</p>


                    </div>

                </div>

                <div class="checkbox">
                    <input type="checkbox" class="form-check-input" id="check" formControlName="allow_mail"
                        value="true" />
                    <label for="allow_mail">I would like to receive job alerts and career tips</label>
                </div>

                <ngx-spinner bdcolor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size:20px; color:white;">Processing....</p>

                </ngx-spinner>

                <div class="button-div" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
                    <button type="submit" class="button" (click)="showSpinner()">Create Account</button>

                    <div>
                        <p class="after-button" style="text-align:center;"> By clicking <i>Create Account</i>, you agree
                            to
                            our <a routerLink="">TERMS &
                                CONDITIONS</a> and <a routerLink="">PRIVACY</a></p>
                        <p class="change_link" style="text-align:center;">
                            Already a member?
                            <a routerLink="" class="to_login"> Log in</a>
                        </p>

                    </div>
                </div>


            </form>

        </div>
    </div>

    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>