<div class="container">
    <h2 class="text-center">Change Your Password</h2>
    <p class="text-center">Enter your new password int the New Password and Confirm New Password field</p>
    <div class="changePassordForm" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center">
        <div class="col-lg-6 col-sm-12">
            <form [formGroup]="changePassordForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input  name="newPassword" required id="password" type="text" formControlName="newPassword"
                        class="form-control" placeholder="Enter a new password" required />
                </div>

                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input  name="confirmNewPassword" required id="confirmNewPassword" type="text" formControlName="confirmNewPassword"
                        class="form-control" placeholder="Confirm your new password" required />
                </div>
                <small class="hint" id="changePasswordHint">Password must be 8 characters long</small>

                <div class="button-div" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
                    <button type="submit" class="button">Reset Password</button>

                </div>
                <p>just remembered your password? <a routerLink="user/login">Login</a></p>


            </form>
        </div>
    </div>
</div>