<div class="profile">
    <div class="profile-header text-center">
        <button routerLink="#" class="header-button">Profile</button>
        <button routerLink="/user/profile/dashboard" class="header-button">Dashboard</button>
        <button routerLink="/user/profile/edit" class="header-button">Edit Profile</button>

    </div>

    <div class="container">
        <div class="row first-row">
            <div class="profile-card col-lg-9">
                <div class="profile-image">
                    <img src="../../../../assets/images/profile-pics.jpg" class="profile-pics" alt="profile-pics">

                </div>

                <div class="profile-info">
                    <h1 class="name"> Amina Braimah Aloaye <span class="qualification"
                            style="font-style:italic; font-size:10px; font-weight: lighter;">~~ BSC</span> </h1>
                    <h6 class="profession">Interior Designer</h6>
                    <h6 class="email"><a href="mailto:">aminaaloaye@gmail.com</a></h6>
                    <span class="contact_number">+2349061675041</span>
                    <h6 class="location">Asaba, Nigeria</h6>

                </div>
            </div>
            <div class="find-job-container col-lg-2">
                <p class="text-center"> Find jobs that suits your profile</p>
                <button routerLink="/jobs" type="submit" class="find-job-button">Find Jobs Now</button>
            </div>
        </div>

        <div class="profile-details">
            <div class="row">
                <div class="shortcuts col-lg-2">
                    <span>shortcuts</span>
                    <hr>
                    <ul>
                        <li><a href="user/profile/#experience" role="tab" data-toggle="scroll">Experience</a></li>
                        <li><a href="user/profile/#skills" role="tab" data-toggle="tab">Skills</a></li>
                        <li><a href="user/profile/#education" role="tab" data-toggle="scroll">Education</a></li>
                        <li><a href="user/profile/#projects" role="tab" data-toggle="tab">Projects</a></li>
                        <li><a href="user/profile/#interests" role="tab" data-toggle="tab">interests</a></li>
                        <li><a href="user/profile/#languages" role="tab" data-toggle="tab">Languages</a></li>
                    </ul>

                </div>
                <div class="main-details col-lg-7">
                    <div class="experience" id="experience">
                        <h1>Experience</h1>
                    </div>
                    <div class="row">
                        <div class="skills col-lg-4" id="skills">
                            <h2 class="skill">Skills</h2>
                            <hr>
                            <ul>
                                <li>Auto card</li>
                                <li>Archi card</li>
                                <li>Microsoft Office</li>
                                <li>Revit</li>
                                <li>corel draw</li>
                                <li>fast learning</li>
                            </ul>


                        </div>
                        <div class="awards col-lg-7">
                            <h2>Certifications</h2>
                            <hr>
                            <ul>
                                <li>Diploma in interior designs</li>
                                <li>Certificate in auto card</li>
                                <li>Diploma in interior designs</li>
                                <li>Certificate in auto card</li>
                                <li>Diploma in interior designs</li>
                                <li>Certificate in auto card</li>
                            </ul>


                        </div>

                    </div>

                    <div class="education" id="education">
                        <h1>Education</h1>
                    </div>

                    <div class="interest" id="interests">
                        <h1>Interest</h1>
                    </div>


                    <div class="row">
                        <div class="skills col-lg-5" id="languages">
                            <h2 class="skill">Languages</h2>
                            <hr>
                            <ul>
                                <li>English</li>
                                <li>Spanish</li>
                                <li>French</li>
                                <li>Arabic</li>
                                <li>Mandarin</li>
                                <li>Swahili</li>
                            </ul>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>