.profile{
    margin-bottom: 30px;
}
.profile-header{
    padding: 20px;
    background: white;
    margin-bottom: 20px;

}

.header-button{
    height:50px;
    width:200px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    cursor: pointer;
    margin: 10px;
    

}

.first-row{
    margin-bottom: 20px;
}

.profile-image, .profile-info{
    margin-right: 20px;
    float: left;
}

.profile-pics{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.profile-card{
    background: white;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.profile-info .name{
    font-size: 3vw;
    font-weight: bold;

}

.find-job-container{
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.find-job-button{
    height:50px;
    width:100%;
    font-size: 13px;
    color: white;
    border:none;
    text-transform: uppercase;
    background-color: green;
    cursor: pointer;

}

.shortcuts{
    background: white;
    padding: 20px;
    height: 300px;
}

.shortcuts span{
    text-transform: uppercase;
    font-weight: lighter;
    color: black ;
    margin-bottom: 20px;
}

.shortcuts ul > li{
    list-style: none;
    padding-bottom: 15px;
}

.experience{
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

.skills{
    background: white;
    padding: 20px;
    margin-left: 15px;

}

.skills h2{
    margin-bottom: 20px;

}

.skills ul>li{
    padding-bottom: 10px;
}


.awards{
    background: white;
    padding: 20px;
    margin-left: 20px;

}

.awards h2{
    margin-bottom: 20px;

}

.awards ul>li{
    padding-bottom: 10px;
}

.education{
    padding: 20px;
    background: white;
    margin-top: 20px;
}

.interest{
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
}




/** mobile **/

@media screen and (max-width: 991px){
    .profile-card{
        background: white;
        padding: 20px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .awards{
        margin-bottom: 20px;
        margin-left: 0px;

    
    }

    .skills{
        margin-bottom: 20px;
        margin-left: 0px;

    
    }
    
    .shortcuts{
        display: none;
    }

}


@media screen and (max-width: 479px){
    .profile-pics{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    

    .awards{
        margin-left: 15px;
        margin-right: 15px


    
    }

    .skills{
        margin-left: 15px;
        margin-right: 15px

    
    }

}
