<div class="container">
    <div class="about">
        <img src="../../assets/images/about-header.jpg" alt="about-image">
        <h4 class="text-center">Getjobs is an online job portal that strives to put job seekers first, giving then free access to search for jobs, post CVs, and research companies. Getjobs also provide its users a way to connect, communicate and collaborate with one another. it also allows them to get information, ask questions and get answers from other users throught the getjobs connect forum.</h4>

    </div>
    <div class="mission">
         <h1 class="text-center" id="ourmission">Our mission</h1>
        <h4 class="text-center">At Getjobs, our mission is to help people get jobs and also improving the recruitment journey through technology. We foster a collaborative workplace that strives to create the best experience for job seekers.</h4>
    </div>
</div>






<app-footer></app-footer>
