h1{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    font-size: 45px;
    color: #333;
    -webkit-font-smoothing:antialiased;
    overflow: hidden;

}


.cs-text > span{
    display: block;
    -webkit-backface-visibility: hidden;
}

.cs-text-cut{
    overflow: hidden;
    transition: all 0.4s ease-in-out;

}

.cs-text-cut span{
    display: block;
    line-height: 180px;
    color: rgba(225, 225, 225, 1);
    text-transform: uppercase;
    margin-top: 7px;
    font-family: tahoma;
    text-shadow: 7px 2px 0 rgba(225, 225, 225, 0.3);

}

.cs-text-cut:last-child span{
    margin-top: -84px;
}

.cs-text-mid{
    font-family: tahoma;
    font-weight: 100;
    text-transform: uppercase;
    font-size:25px;
    letter-spacing: 25px;
    line-height: 50px;
    text-indent: 20px;
    margin-top: -25px;
    color: black;
    text-shadow: 0 0 0 rgba(225, 225, 225, 0.9);
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.4s ease-in-out 0s;


}

.cs-text:hover .cs-text:first-child{
    transform: translateY(-25px);
    opacity: 0.5;

}

.cs-text:hover .cs-text:last-child{
    transform: translateY(-25px);
    opacity: 0.5;

}

.cs-text:hover .cs-text-mid{
    transition-delay: 0.3s;
    transform: scale(1);
    opacity: 0.5;

}



.search-div{
    background-color: grey;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    padding-top: 20px;
}

.search{
    margin-left: 25px;
    width: 30%;
    color: white;
    
}

.mobile-container{
    margin: 8px 16px;
}
.minitab-container{
    margin-top: 5%;
}

.mobile-form-field, .minitab-form-field{
    width:80%;
}


.search-button{
    height:50px;
    width:150px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    margin-bottom:15px;
    border-radius: 8px;
    margin-left:30px;
    cursor: pointer;
    
}
.container{
    margin-top: 10px;
}

.firstimg{
    height: 500px;
    width: 100%;
    border-radius: 30px;
}


