h1{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400px;
    font-size: 45px;
    color: #333;
    -webkit-font-smoothing:antialiased;
    overflow: hidden;

}





.search-div{
    background-color: grey;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    padding-top: 20px;
}

.search{
    margin-left: 25px;
    width: 30%;
    color: white;
    
}

.mobile-container{
    margin: 8px 16px;
}
.minitab-container{
    margin-top: 5%;
}

.mobile-form-field, .minitab-form-field{
    width:80%;
}


.search-button{
    height:50px;
    width:150px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    margin-bottom:15px;
    border-radius: 8px;
    margin-left:30px;
    cursor: pointer;
    
}
.container{
    margin-top: 10px;
}

.firstimg{
    height: 500px;
    width: 100%;
    border-radius: 30px;
}


