<h1 class="text-center">Find your best  quality job <br> You deserve it</h1>
<p class="text-center"></p>
<div class="search-div" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap.gt.xs="2%"
    fxLayoutAlign="center center" ngClass.xs="mobile-container" ngClass.sm="minitab-container">

    <div class="form-group col-lg-5 col-sm-12">
        <input required id="job_title" type="text" class="form-control" placeholder="job title..." />
    </div>

    <div class="form-group col-lg-5 col-sm-12">
        <select id="location" type="text" class="form-control" placeholder="Select location.." required>
            <option value="software developer">software developer</option>
        </select>
    </div>

    <button class="search-button">Search</button>

</div>
<div class="container">
    <img class="firstimg" src="../../assets/images/jobseekers.jpg" alt="jobseekers">   
</div>