<div class="dashboard">
    <div class="dashboard-header text-center">
        <button routerLink="#" class="header-button">Profile</button>
        <button routerLink="/user/profile/dashboard" class="header-button">Dashboard</button>
        <button routerLink="/user/profile/edit" class="header-button">Edit Profile</button>

    </div>

    <div class="container">

        <div class="cards">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-blue">
                        <div class="inner">
                            <h3> 13436 </h3>
                            <p> Applied Jobs </p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h3> 185358 </h3>
                            <p> Scheduled interviews </p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h3> 5464 </h3>
                            <p> Past interviews </p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h3> 723 </h3>
                            <p> Saved Jobs </p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="saved-jobs">
            <h2>Saved Jobs</h2>
        </div>

        <div class="applied-jobs">
            <h2>Applied Jobs</h2>
        </div>

    </div>
</div>