<div class="container">
    <h2 class="text-center">Reset Password</h2>
    <p class="text-center">Please enter your email address below to reset your password</p>
    <div class="resetPassordForm" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center">
        <div class="col-lg-6 col-sm-12">
            <form [formControl]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="form-group">
                    <input (ngModel)="email" name="email" required id="email" type="email" formControlName="email"
                        class="form-control" placeholder="Email" required />

                </div>
                <div class="button-div" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
                    <button type="submit" class="button">Reset Password</button>

                </div>
                <p>just remembered your password? <a routerLink="user/login">Login</a></p>



            </form>
        </div>
    </div>
</div>