<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 post-div">
            <div class="text-left">
                <h1>General Discussions</h1>
                <h4>Post your topics here..!!</h4>
                <div class="button">
                    <button class="btn btn-primary" [routerLink]="['/connect/discussions/newtopic']">Create New
                        Topic</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <app-topic-list></app-topic-list>
        </div>
    </div>
</div>