<footer id="footer" ngClass.xs="mobile-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-info">
                    <h4>GETJOBS</h4>
                    <p>We will boost your skills and profile,
                        provide you with personalized career guidance and
                        match you with the right opportunities,so that you can be the best and the brightest
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>

                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>We will boost your skills and profile, provide you with personalized career guidance and
                        match you with the right opportunities,so that you can be the best and the brightest
                    </p>
                    <form method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <div class="copyright">
            &copy; Copyright <strong>GETJOBS</strong>. All Rights Reserved
        </div>
    </div>

</footer>