<div class="container">



    <div>
        <h1>Terms And Conditions</h1>
    </div>
    <div>
        <h3>A. Terms of Service for Job Seekers</h3>
        <div>
            <h5>1. Job Ads or Job Listings</h5>
            <p>Indeed, which is free to Job Seekers, may make available certain Job Ads advertising employment
                opportunities
                and other job-related content, including links to third-party websites (“Job Listings” or “Job Ads”),
                through Indeed’s search results or otherwise through the Site. Job Ads are created and provided by third
                parties over whom Indeed exercises no control; you acknowledge and understand that Indeed has no control
                over the content of Job Ads, links to or from Job Ads, or any conditions third parties might impose once
                a
                Job Seeker has submitted an application or left the Site. For example, some of these third parties may
                attempt to charge Job Seekers a fee to apply to a particular job, although Indeed endeavors not to make
                such
                Job Ads available on the Site. If you leave the Indeed Site and choose to enter a third-party website,
                you
                accept any terms and conditions imposed by that third-party. Except for certain sponsored, featured or
                paid
                placements, the Job Ads contained on, or linked from, the Site are indexed or posted in an automated
                manner.
                Indeed has no obligation to screen any Job Ads, or to include any Job Ads in its search results or other
                listings, and may exclude or remove any Job Ads from the Site for any or no reason. We cannot confirm
                the
                accuracy or completeness of any Job Ad or other information submitted by any Employer or other user,
                including the identity of such Employer or other user. Indeed assumes no responsibility, and disclaims
                all
                liability for the content, accuracy, completeness, legality, reliability, or availability of any Job
                Ads,
                Company Pages, screener questions and responses, and assessments. Additionally, Indeed may provide
                search
                options to narrow down Job Ads search results by job type categories (i.e. full-time, part-time, etc.),
                and
                such categories are created independently and entirely by Indeed, and may not directly or accurately
                reflect
                the content of the Job Ads. Indeed may reformat Job Listings so that you may read them more clearly on a
                mobile phone. While Indeed may in some circumstances be compensated by employers who post Job Ads,
                helping
                keep Indeed free for Job Seekers, all Job Ads are considered advertising. Indeed displays Job Ads based
                on a
                combination of employer bids and relevance, such as search terms and other activity on Indeed. You are
                not
                permitted to use Indeed’s Site or its content other than for non-commercial purposes. For purposes of
                this
                Section A of the Indeed General Terms of Service, all references to “you” or “your” shall mean you, the
                individual or organization accessing this Site in your capacity as an Job Seeker.

            </p>
        </div>
        <div>
            <h5>2. Resumes and Recommended Jobs</h5>
            <p>By uploading a public resume through the Site, you are requesting and authorizing Indeed to make
                available
                your resume to any Employer that Indeed believes may have an interest in your resume. By creating or
                uploading a resume on Indeed (an “Indeed Resume”), Indeed may share with you Job Listings that match the
                contents of your Indeed Resume. Indeed assumes no responsibility and disclaims all liability for the
                resume or application information you post, send or receive through the Site. If you see any inaccuracy
                in any such material, it is your responsibility to correct such information or to contact Indeed to do
                so. To protect your privacy, Indeed may mask or hide your contact information, such as your email
                address, from your resume and may substitute it with an alias.

                Indeed may also automatically send you recommended jobs via the email address you use to create an
                Indeed account or apply to a job. Indeed may determine what these recommended jobs are on the basis of a
                variety of factors, including but not limited to, any information you input on the Site about yourself
                (including in your Indeed Resume), searches you run on the Site, jobs you click on, jobs you apply to,
                or the materials you provide in a job application to an Employer through Indeed.

            </p>
        </div>
        <div>
            <h5>3. Applying to Jobs Through Indeed </h5>
            <p>Any resume or application information that you submit through the Site, including Personal Data included
                in a resume, application or responses to screener questions and assessments, is subject to this
                Agreement (including Section D.3.) and to Indeed’s Privacy Policy. Indeed may use your application
                materials to determine whether you may be interested in a Job Listing, and Indeed may reach out to you
                about such Job Listing. Indeed may store such information regardless of whether a Job Listing has been
                closed or is no longer available on the Site. To maintain the quality of the Site and Services, Indeed
                in its sole discretion may impose limits on your ability to apply to Job Listings through Indeed
                (“Indeed Apply”) or to other Indeed services. In addition, when you indicate your interest in a Job
                Listing through Indeed Apply or by RSVPing to a hiring event (hereinafter, all references on the Site to
                “Apply Now”, “Easily Apply”, “Simple Apply”, “Apply from your phone”, “Apply with Indeed”, “RSVP to
                hiring event” or any similar references are referred to as “Indeed Apply”), you are sending your resume
                and application information to Indeed, and you are requesting and authorizing Indeed to make available
                such application information to the applicable Employer(s) for such Job Listing(s). When you ask Indeed
                to transmit an application or a message, including, but not limited to, a signed offer letter, to an
                Employer via Indeed Apply or Indeed’s relay system, or store such application, you understand that this
                is without warranty, and that Indeed reserves the right to reformat such application or message.

                You acknowledge and agree that Employers may request that Indeed assemble your application materials,
                resume, answers to screener questions, assessment responses and other information you provide to Indeed
                into one document, and you agree that in doing so, Indeed assembles these application materials on your
                behalf. When you apply for a job on Indeed you agree to Indeed’s performance of automated processing in
                relation to your application, as such processing is an essential part of this Agreement. Additionally,
                you consent to your application and any responses sent to you by the Employer (including offer letters)
                through Indeed being processed and analyzed by Indeed according to this Agreement and Indeed’s Privacy
                Policy.

                When you apply to a job using Indeed Apply, Indeed will attempt to send your application to the contact
                information provided to us by an Employer or their Agent. We cannot guarantee that such messages and
                applications will be delivered, received, accessed, read or acted upon. Indeed also does not guarantee
                that any Employer will receive, be notified about, access, read or respond to any such resume or other
                application material, or that there will be no mistakes in the transmission or storage of the data.
                However, Indeed may alert you when any of the above events occur. In addition we cannot vouch for the
                validity of the contact information provided to us by Employers. We also cannot vouch for the technical
                capabilities of any third party sites, including but not limited to Applicant Tracking Systems (ATSs).
                If you do not feel comfortable sending an application or messages in this manner, or having your
                application or messages stored on Indeed, do not use the Indeed Apply or Indeed relay functions and
                please send your application or messages directly to the Employer by whatever other method you so
                choose, including the public mail system. You may contact the Employer directly to find alternative
                methods of application if you do not wish to apply through Indeed. By using the Indeed Apply system, you
                fully consent to the above.

                If you require alternative methods of screening or application you must approach the Employer directly
                to request such as Indeed is not responsible for the Employer application process.

                By using Indeed, you agree that Indeed is not responsible for the content of the Employer’s job
                application, messages, screener questions, skills assessments or their format or method of delivery, and
                that Indeed does not guarantee receipt of your application by the Employer, or your receipt of messages
                from the Employer. Please note that Indeed does not choose the questions asked by Employers or decide
                the job qualification criteria of Employers. Some questions may be labeled as Optional, indicating only
                that the application may be submitted to the Employer without providing an answer. Indeed cannot
                guarantee that the Employer will consider such an application or make a particular determination with
                regard to such an application. Indeed may inform Job Seekers that an Employer’s requirement from a job
                description does not appear to be present on a resume; this information is presented without warranty
                and Indeed does not guarantee that updating a resume will result in any job offer. Indeed does not
                guarantee the identity of an Employer or any individuals working for any Employers, and cautions Job
                Seekers when applying to jobs. Indeed does not guarantee the validity of a job offer and cautions Job
                Seekers to verify the validity of a job offer before taking an adverse action regarding their current
                employment situations. Job Seekers are solely responsible for verifying the accuracy of any Employer or
                job offer.

                Indeed may use your application materials (including resumes and responses to screener questions) and
                the recency of your activity on Indeed to determine whether the words of any Job Seeker’s resume and
                answers to screener questions match the words of a Job Listing or Resume query, and vice-versa. You
                agree and consent that Indeed may differentiate those matching resumes and screener questions from those
                that do not match, and present them to Employers as matches or not matches. Indeed may also use such
                information in order to improve the Site or any other Indeed product or service (including by displaying
                or otherwise making available potentially relevant Job Listings and resumes to Job Seekers and
                Employers). By using Indeed Apply and answering screener questions, you acknowledge that Employers may
                have instructed Indeed to send out rejection notices if your answers do not match the answers sought by
                the Employer, and you acknowledge that Indeed has no discretion in the transmission of these rejections.
                Indeed may offer Employers the ability to activate a feature on their account called Employer Assist.
                Activating Employer Assist means the Employer is instructing Indeed to send a message on the Employer’s
                behalf to the Job Seeker informing them that the Employer has determined not to move forward with their
                application. These notices are automatically sent after a certain period of time selected by the
                Employer, unless the Employer indicates to Indeed their interest in your application. You acknowledge
                and agree that Indeed has no discretion in the sending of these messages, and that any such messages are
                solely a result of the Employer’s decision to activate Employer Assist and to not take an action on your
                application on Indeed within the time period selected by the Employer. Any interactions the Employer has
                directly with you and not through a tool provided by Indeed (for example, calling or emailing you
                directly instead of through an Indeed Relay Service) are not visible to Indeed, and would not by
                themselves prevent an Employer Assist rejection notice from being sent.

            </p>
        </div>
        <div>
            <h5>4. Communications and Other Actions on the Site</h5>
            <p>When you view, send, store or receive materials (including Job Listings, resumes, and messages) through
                or using the Site, Indeed may, for example, use such materials for data analysis, quality control, or to
                refine the Site or any other Indeed product or service (including to provide better search results and
                other listings for Job Seekers and Employers), whether via automated means or otherwise. When an
                Employer views, sends, stores or receives materials through or using the Site, Indeed may also inform
                you that an Employer has taken an action with regards to a Job Ad, your Resume, or your application,
                such as pausing or closing a Job Ad, opening your Resume or application, viewing your Resume or
                application, responding to your Resume or application, and making a decision with regards to your
                application or Job Ad, and you hereby consent to Indeed taking such actions.

                Indeed may offer you the opportunity to receive a text message interview reminder from Indeed when an
                Employer has scheduled interviews with you. In such an event you will enter your phone number on the
                Indeed consent form and by entering your phone number you are representing and confirming it is your
                phone number and that you have the right to accept text messages at the number. Indeed will only send
                you a text message reminder for such interview and you agree to accept such text message reminder on
                your cell phone, including messages sent by automated telephone dialing system. Please note that since
                these text message services depend on the functionality of third-party providers, there may be technical
                delays on the part of those providers. We also cannot vouch for the technical capabilities of any third
                parties to receive such text messages.

                Indeed may also insert functionality into messages relating to your application allowing you to place
                calls directly to third parties. Please note this functionality is provided solely as a courtesy and
                that such calls are not placed through or tracked by Indeed. Your standard calling rates with your phone
                provider will apply.

                In certain instances, you may receive messages, emails or email notifications corresponding with your
                activity on or use of the Site, Indeed Apply, Indeed Chat, or any other communications service, product,
                or feature provided on or through the Site. In all cases, such messages or notifications are provided
                solely as a courtesy. Indeed may use your email address to create an alias email address for your
                communication, in lieu of displaying your actual email address to the Employer. Indeed disclaims all
                warranties with regards to the transmission or storage of such courtesy notices, does not guarantee
                their delivery or receipt, and does not guarantee the date or time at which they may be sent. In the
                event a message being sent is intended for a closed account, these messages will not be deliverable.

                Indeed reserves the right to turn on or enable Indeed Chat or other communication options for select
                Employers or Job Listings, in its sole discretion, and to notify you that Indeed Chat or other
                communication options are available for a particular job or Employer. For Indeed Chat, you may access or
                view your messages by visiting your Indeed Chat messages dashboard. Indeed may, in its sole discretion,
                turn off or disable Indeed Chat for any Employer or Job Seeker at any time without prior notice. Please
                note that if you are using Indeed Chat to communicate with an Employer, Indeed will deliver your
                messages as instructed by the Employer.

            </p>
        </div>
        <div>
            <h5>5. Salary, Career, Hiring and Other Information Provided by Indeed</h5>
            <p>Indeed may provide certain categories of information to users for informational purposes only. For
                example, Indeed may provide you with data regarding estimated salaries for a certain Job Listing, or
                number of applies to a Job Listing. These figures provided by Indeed are estimates given for
                informational purposes only, and they are subject to change or varying levels of accuracy. Indeed may
                also include salary estimations on pages other than Job Listings on the Site. Please note that all
                salary figures are approximations based upon multiple third party submissions to Indeed, including from
                Indeed affiliates. These figures are given to Indeed users for the purpose of generalized comparison
                only. Minimum wage may differ by jurisdiction and you should consult the employer for actual salary
                figures.

                Similarly, career-related or hiring-related information provided by Indeed is for informational purposes
                only, and is in no way to be construed as professional career counseling or staffing services. You
                understand that Indeed may give suggestions or information regarding best-practices, however, you
                understand that it is ultimately your responsibility to determine how to pursue your job search or
                candidate search. You further understand that in providing any such career or hiring guides, Indeed is
                not acting as a job placement agency or staffing firm. You also understand that by referring to or using
                such career or hiring guides, you are not guaranteed job interviews, job placement, or assurance of
                being hired, and you take full responsibility for use of these services or guides. As a user of the
                Site, Indeed may, from time to time, send you emails from the career or hiring guides as part of its
                services to you. These emails may include but not be limited to, tips on improving your resume or how to
                use your resume effectively in the job application process, commonly asked interview questions, next
                steps after you have submitted an application, and how to prepare for a new job after you have been
                hired.

                Indeed may offer, as part of the Services, the opportunity for you to engage with third parties,
                sometimes referred to as career coaches or professional writers, to discuss job search, resume writing,
                or career strategies, either through the Site or in person. Regardless of how you interact with them,
                you acknowledge that these third parties are not employees of Indeed and that Indeed is not responsible
                for the content of any such discussion. Do not share any information you consider confidential or
                personally sensitive with these third parties. Indeed does not guarantee the quality or effectiveness of
                any advice, recommendations, or guidance you may receive from these third parties. You agree that, to
                the maximum extent permitted by law, Indeed will have no liability arising from any discussion you have
                with such a third party.

            </p>
        </div>
        <div>
            <h5>6. Your Job Seeker Data</h5>
            <p>As a Job Seeker, you take a variety of actions on our Site. For example, you search for jobs, and Indeed
                knows and stores the titles of jobs you search for and click on, where those jobs are located, the
                general salary range or experience level of the jobs you view (if indicated on the Job Listings), the
                Job Listings you apply to, your amount of activity or time of most recent activity on Indeed,
                information you provide directly to Indeed including desired salary or past experience, or any of your
                other behavior on the Site. You know exactly what this data is because you are the person who undertook
                the activity and the data pertains only to your activity. If you have an Indeed account or an Indeed
                Resume, you agree that Indeed may associate this data with your Indeed Profile and use this observed
                factual data to suggest jobs to you and to suggest you or your public resume to Employers that might be
                interested in a person who matches your behavior on Indeed. You also agree that Indeed may contact you
                based on this observed behavior on behalf of Employers or Indeed itself. Please note, the aforementioned
                actions do not include information sent to you by a third party, however, Indeed may publicly display
                the fact that you have recently used the Indeed Site to correspond with a third party. In addition, if
                you set your Resume to public, this means that Indeed may share all of the aforementioned information
                about yourself with third-party Employers. If you do not wish to share such information, you may set
                your Resume to private.

            </p>
        </div>
        <div>
            <h5>7. Screening Tools</h5>
            <p>Indeed may make screening tools available to Employers for Employer use in the application process,
                including screener questions, phone screen tools and assessments. Indeed is licensing these tools for
                Employers’ use as determined by Employers. As a Job Seeker you agree that the Employer has made the
                determination to use these tools as part of its application process, and the questions asked are solely
                determined by the Employer, and are not being asked by Indeed. The Employer is the sole party to
                determine which answers will qualify a candidate and is solely responsible for the use of the screening
                tool including any results which are considered to have a “disparate impact”. You further acknowledge
                that only the Employer is responsible for offering alternative methods of screening, if so required by
                the Americans with Disabilities Act or any other equivalent state act. Indeed does not warrant that the
                method of delivery of these questions would be compliant with the Americans with Disabilities Act or any
                equivalent state act.

            </p>
        </div>


    </div>

    <div>
        <h3>A. Terms of Service for Employers</h3>
        <div>
            <h5>1. Employer Accounts</h5>
            <p>When you create an Indeed account, a Company Page or post job listings advertising employment
                opportunities and other job-related contents, including links to third-party websites (“Job Ads”) on the
                Site, whether as part of the Indeed Ads Program or otherwise, you agree that this Agreement, the terms
                associated with any Indeed service you are using, and all of Indeed’s policies, including the Indeed
                Privacy Policy and Cookie Policy, apply to you. When you create an Indeed account, Indeed may require
                that you verify your identity through a third party service called Mitek. By using Mitek, you are
                submitting your identification documents for verification directly to Mitek, you are agreeing to share
                your identification with Mitek, and you agree that Mitek is solely responsible for any use or loss of
                data.

                As an Employer, your account is for business use and not for personal use. Indeed is not responsible for
                and disclaims all liability if your email is used improperly or falsely by a third party. By registering
                for an Indeed account, you agree to receive mandatory email updates regarding anomalous activity to your
                Indeed account. If you attempt to send an email from a name or email address that is not true, accurate,
                current or complete, we reserve the right to drop such email, and attempting to send such email is a
                violation of our terms.

                In some instances, multiple users may be linked to the same account (“a Linked Account”). A Linked
                Account is created when the primary account owner(s) (“Admin(s)”) of an Employer account invites other
                users to the same account. Admin(s) may be given the option to give these other users certain levels of
                access and functionality (“Roles”) within the account, as described on the site. If you are an Admin
                adding a user to a Role or several Roles, you represent to Indeed that you are an authorized
                representative of this account and that you have the authority to allow this data and access to be
                shared. You further agree to indemnify and hold harmless Indeed from any allegations, claims, actions,
                suits, demands, damages, liabilities, obligations, losses, settlements, judgments, costs and expenses
                (including without limitation attorneys’ fees and costs) that result from the sharing of this data and
                access to your account. You agree that Indeed assumes no liability in regards to the accuracy of the
                statements above and that you are fully responsible for said accuracy. When using a Linked Account, any
                users with access to certain Roles may have access to any or all account information, including but not
                limited to: communications and actions of all other users and applicants within the Linked Account,
                resume contacts, and billing information, and you consent to such access.

                Change of Address: If you have provided a billing address to us, and you change such billing address
                from an address within the United States to an address outside the United States, or from an address
                outside of the United States to an address inside the United States, you will continue to be bound by
                this Agreement with the same Indeed party for the remainder of the calendar month in which you made the
                change. Beginning on the first day of the next calendar month, you hereby agree that you will be bound
                by this Agreement with the applicable Indeed party identified in the first paragraph of this Agreement
                with respect to such new territory.


            </p>
        </div>
        <div>
            <h5>2. Employer Services Including Indeed Apply and Screener Questions</h5>
            <p>You also agree that, as a service to Job Seekers, Indeed may activate its Indeed Apply relay function for
                use in connection with your Job Listings, and that any Job Seekers who wish to indicate an interest in
                such Job Listing may only do so through Indeed Apply, and that Indeed will send applications to the
                email address you provide us with. When you use Indeed candidate management tools, including but not
                limited to your Employer Dashboard, or by activating the Indeed Apply relay function for your Job
                Listings, you acknowledge and agree that Indeed may make available certain functions allowing you to
                take actions regarding the Job Seeker, such as tools for setting up an interview, viewing a resume and
                rejecting a candidate. You agree that by using such candidate management tools, you are instructing
                Indeed to assemble the candidate’s application materials, resume, answers to screener questions,
                assessment responses and other information you provide to Indeed into one document. You further agree
                that Indeed is not responsible for maintaining or storing such application materials, and that you are
                responsible for your own compliance with any applicable record retention requirements. By using these
                tools, you are providing information to Indeed and requesting and authorizing us to make available such
                information to the applicable Job Seeker. Additionally, you consent to any information shared through
                Indeed being processed and analyzed by Indeed according to this Agreement and Indeed’s Privacy Policy.
                Indeed may store such information regardless of whether a job vacancy has been filled.

                You are responsible for the contents of your emails, application form, screener questions or their
                format, Company Pages that you create, any Job Listings that you post, and any messages that you send
                through Indeed Apply or otherwise, and agree that Indeed is not responsible for such content and
                disclaims all liability for such content, including as to whether such content is legal. You agree that
                Indeed may reject or remove any Job Listing, any part of any Company Page, or any questions for Job
                Seekers for any or no reason. Indeed further does not guarantee delivery, your receipt of the Job
                Seeker’s emails or application materials, or that there will be no mistakes in the transmission or
                storage of the data. In the event a message being sent is intended for a closed account, these messages
                will not be deliverable. If you do not feel comfortable sending a message, including but not limited to
                an offer letter, to a Job Seeker through Indeed’s relay functions, do not use the Indeed relay functions
                and please contact the Job Seeker via the personal information provided in such Job Seeker’s resume or
                application or by whatever method you so choose. When using the Indeed Apply function, Indeed will
                attempt to send applications to the contact information provided to Indeed by you, however, Indeed has
                no ability to verify the contact information provided by you. In the event you provide incorrect contact
                information, it shall be your responsibility to correct, appropriately respond, or take any steps
                necessary to protect the privacy of such Job Seekers, and you indemnify Indeed for any damages resulting
                therefrom.

                When you use the Indeed Apply relay function for your Job Listings, you acknowledge and agree that
                Indeed may add certain functions into the corresponding Indeed Apply emails. In addition, Indeed may, on
                your behalf, send out reminder emails to Job Seekers you wish to interview. Indeed may also send emails
                to Job Seekers on your behalf indicating that your Job Listing is potentially a match for the Job
                Seeker’s resume. When you use screener questions, you may be given the option to instruct Indeed to send
                out rejection notices if the Job Seeker has not answered the questions in the manner set forth in the
                online instruction. If you choose such option, you agree you are instructing us to send out rejection
                notices to such candidates and set them to rejected in your candidate dashboard. You further acknowledge
                that Indeed has no discretion in the transmission or storage of these or all other rejection
                notifications (which is purely mechanical), that transmission or storage is not guaranteed, and that the
                Job Seeker may not have answered the screener questions accurately. When you use Indeed’s candidate
                management tools, you may be given the option to send automatic rejection notices to candidates whose
                status you set to “rejected”. If you choose such option, you acknowledge that Indeed has no discretion
                in the transmission or storage of rejection notices.

                You agree that Indeed may take action to try to identify and reduce spam applications, and that one
                method of doing so may include imposing a cover letter requirement for such applicants. Indeed does not
                verify the identity of any Job Seekers who apply to your job listing, nor does Indeed know a Job
                Seeker’s motivation for applying to your job listing, and thus provides no guarantee as to the Job
                Seeker’s qualifications or interest in your job listing. You agree that Indeed Apply and Indeed’s relay
                functions are presented to you without warranty and Indeed assumes no responsibility for the
                communications between you and the Job Seeker, which communications are yours’ and the Job Seekers’ sole
                responsibility.

                By using any automated phone screen product, you agree that you are requesting Indeed to send a Job
                Seeker a telephone number, which the Job Seeker may call with the purpose of answering your telephone
                screening questions. You agree these questions are part of your application process, are solely
                determined by you, and are not being asked by Indeed. You also agree that you are only asking Indeed to
                record the Job Seeker’s answers to your screening questions and that Indeed will forward you the
                recording of the answers to your questions. You consent to Indeed listening to and analyzing the
                recording in accordance with Indeed’s Privacy Policy. Indeed disclaims all warranties with regards to
                the transmission or storage of such phone screens and responses, does not guarantee their delivery or
                receipt, and does not guarantee the date or time at which they may be sent.

                You shall indemnify, defend and hold harmless Indeed, its agents, affiliates, and licensors from any
                third-party claim or liability (including without limitation reasonable legal fees) arising out of any
                Company Page created by you, or any Job Listing or screener questions (or answers thereto) posted by
                you, or any message sent by you (including any questions for Job Seekers contained in any of the
                foregoing). Indeed may make Job Ad analytics data available on a Company Page or elsewhere on the Site,
                and may provide analytics data regarding your Employer account to anyone at your company at Indeed’s
                discretion. To the extent permitted by law, if you have an unpaid or outstanding invoice or account
                balance for any Indeed product, Indeed reserves the right to suspend or terminate your use of that
                Indeed product as well as any other Indeed product, including but not limited to those Indeed products
                where you do not have an unpaid invoice or account balance. Indeed may elect to apply (i) penalties for
                late payment as per contemporaneous US Federal Reserve interest rates plus 10% or the maximum interest
                permitted by law, whichever is lower and (ii) a statutory lump-sum indemnity for recovery cost, if
                provided for under applicable laws, and (iii) any reasonable expenses and attorney fees Indeed incurs
                collecting such late payments.

                When you view, send, store or receive materials (including Job Listings, resumes, and messages) through
                or using the Site, Indeed may, for example, use such materials for data analysis, quality control, or to
                refine the Site or any other Indeed product or service (including to provide better search results and
                other listings for Job Seekers and Employers), whether via automated means or otherwise. When you view,
                sends, store or receive materials through or using the Site, Indeed may inform a Job Seeker that you
                have taken an action with regards to a Job Ad, Job Seeker’s Resume, or application such as pausing or
                closing a Job Ad, opening the Resume or application, viewing the Resume or application, responding to
                the Resume or application, and making a decision with regards to the application or Job Ad, and you
                hereby consent to Indeed taking such actions.


            </p>
        </div>
        <div>
            <h5>3. Job Match </h5>
            <p>Indeed may use Job Seekers’ application materials (including resumes and responses to screener questions)
                and the recency of their activity on Indeed to determine whether the words of their resume and answers
                to screener questions match the words of your Job Listing or Resume query, and vice-versa. You further
                agree and consent that Indeed may differentiate those matching resumes and screener questions from those
                that do not match, and present them to you as matches or not matches. Indeed may also use such
                information in order to improve the Site or any other Indeed product or service (including by displaying
                or otherwise making available potentially relevant Job Listings and resumes to Job Seekers and
                Employers).


            </p>
        </div>
        <div>
            <h5>4. Salary, Applies or Other Information Provided by Indeed </h5>
            <p>Indeed may provide certain categories of information to users for informational purposes only. For
                example, Indeed may provide Job Seekers with data regarding estimated salaries for a certain Job
                Listing, or provide you with estimated applies to your Job Listing. All such figures provided by Indeed
                are estimates given for informational purposes only, and they are subject to change or varying levels of
                accuracy. With respect to information regarding estimated applies, if you are participating in the
                Indeed Ads Program, please note that this is not the information you are purchasing from Indeed and you
                are not charged per apply. Indeed may also include salary estimations on pages other than Job Listings
                on the Site. Please note that all salary figures are approximations based upon multiple third party
                submissions to Indeed, including from Indeed affiliates. These figures are given to Indeed users for the
                purpose of generalized comparison only. Minimum wage may differ by jurisdiction and you should consult
                the employer for actual salary figures. Please note that all salary figures are approximations based
                upon multiple third party submissions to Indeed, including from Indeed affiliates. These figures are
                given to Indeed users for the purpose of generalized comparison only. Minimum wage may differ by
                jurisdiction and you should consult the employer for actual salary figures.


            </p>
        </div>
        <div>
            <h5>5. Screening Tools </h5>
            <p>
                Indeed may make available to you certain screening tools for use during the application process,
                including screener questions, phone screen tools and assessments. Indeed is licensing these tools to you
                for your use as you determine. By using any screening product, made available to you by Indeed, you
                agree that you have made the determination to use these tools as part of your application process, and
                the substantive questions you ask or choose are solely determined by you, and are not being asked by
                Indeed. You are the sole party to determine which answers will qualify a candidate. You are solely
                responsible for the use of the screening tool including any results which are considered to have a
                “disparate impact”. You further acknowledge that you are responsible for offering alternative methods of
                screening, if so required by the Americans with Disabilities Act or any other equivalent state act.
                Indeed does not warrant that the method of delivery of these questions would be compliant with the
                Americans with Disabilities Act or any equivalent state act. You agree to indemnify Indeed for any and
                all claims arising out of your use of a Screening Tool, including any claims that any screening tool
                does not comply with the Americans with Disabilities Act or that such Screening Tool results in a
                “disparate impact”.

                Indeed may offer Employers the ability to activate a feature on their account called Employer Assist.
                Activating Employer Assist means the Employer is instructing Indeed to send a message on the Employer’s
                behalf to the Job Seeker informing them that the Employer has determined not to move forward with their
                application. To prevent a rejection notice from being sent, you must indicate your interest in the
                application on Indeed. Any interactions you have directly with a Job Seeker and not through a tool
                provided by Indeed (for example, calling or emailing a Job Seeker directly instead of through an Indeed
                Relay Service) are not visible to Indeed, and will not prevent an Employer Assist rejection notice from
                being sent. If you activate Employer Assist then you must interact with a Job Seeker through a tool
                provided by Indeed to prevent an Employer Assist rejection notice from being sent. If you activate
                Employer Assist you agree that you are instructing Indeed to send these messages to candidates with whom
                you do not interact within your chosen time frame, and you agree to indemnify Indeed from any claims
                arising therefrom.


            </p>
        </div>
        <div>
            <h5>6. Communication through Indeed</h5>
            <p>In certain instances, you may receive messages, emails or email notifications corresponding with your
                activity on or use of the Site Indeed Apply, Indeed Chat, or any other communications service, product,
                or feature provided on or through the Site. In all cases, such messages or notifications are provided
                solely as a courtesy. Indeed may use your email address to create an alias email address for your
                communication, in lieu of displaying your actual email address to the Job Seeker. Indeed disclaims all
                warranties with regards to the transmission or storage of such courtesy notices, does not guarantee
                their delivery or receipt, and does not guarantee the date or time at which they may be sent. In the
                event a message being sent is intended for a closed account, these messages will not be deliverable.

                Specifically, if you post a Job Listing directly on Indeed, applications are sent only to your Indeed
                dashboard; any other notifications you may receive are provided solely as a courtesy to you. For
                example, you may not receive application email notifications if a Job Seeker has not answered screener
                questions correctly, although these applications will be sent to your Indeed dashboard. Indeed reserves
                the right to turn on or enable Indeed Chat or other communication options for select Employers or Job
                Listings, in its sole discretion, and to notify Job Seekers that Indeed Chat or other communication
                options are available for a particular job or Employer. For Indeed Chat, you may access or view your
                messages by visiting your Indeed Chat messages dashboard. If you do not wish to use Indeed Chat, you may
                turn it off by visiting your Indeed Chat dashboard. Indeed may, in its sole discretion, turn off or
                disable Indeed Chat for any Employer or Job Seeker at any time without prior notice.


            </p>
        </div>
        <div>

            <p class="text-center">By using the Site and in return for the services offered by Indeed, you acknowledge
                that Indeed can only offer you these services under the terms and conditions as presented herein. As
                partial consideration for your use of the Site and these services, you agree not to sue Indeed as a
                class plaintiff or class representative, join as a class member, or participate as an adverse party in
                any way in a class-action lawsuit against Indeed regarding your use of the Site. If you do not agree to
                any part of these terms, do not continue your use of the Site. Nothing in this paragraph, however,
                limits your rights to bring a lawsuit as an individual plaintiff, including in small claims court,
                subject to Section 9 above.


            </p>
        </div>

    </div>
</div>