/* header section*/
.header-container{
    height:80vh;
    background: url(../../assets/images/header.jpeg) no-repeat;
    background-size: cover;
	background-attachment:fixed;

}
.mobile-header-container{
    height: 100vh;
}
.join-now.container{
    padding: 35px 115px;
}
.sign-in{
    height:50px;
    width:150px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    margin-top: 20px;
    border-radius: 5px;
    margin-left:50px;
    cursor: pointer;


}


.join-now{
    height:50px;
    width:150px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    margin-top: 20px;
    border-radius: 5px;
    margin-left:30px;
    cursor: pointer;

}
.mat-display-1{
    padding: 30px;
    padding-bottom: 0px;
    color: black;
}

.content-container h4{
    padding-left: 30px;
    padding-top: 0px;
    color: black;
    font-size: 16px;

}

.search-div{
    background-color: grey;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
    padding-top: 20px;
}

.search{
    margin-left: 25px;
    width: 30%;
    color: white;
    
}

.mobile-container{
    margin: 8px 16px;
}
.minitab-container{
    margin-top: 3%;
}

.mobile-form-field, .minitab-form-field{
    width:80%;
}


.search-button{
    height:50px;
    width:150px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    margin-bottom:15px;
    border-radius: 8px;
    margin-left:30px;
    cursor: pointer;
    
}

/* recent jobs section*/

#recent_jobs{
    margin-top: 50px;
}

#thumbnail{
    margin-top: 30px;
    background: white;
    padding: 10px;
    cursor: pointer;

}

.experience{
    color: green;
}

.salary{
    color: firebrick;
}

.createdAt{
    float: right;
}


.button{
    margin-top: 50px;
    margin-bottom: 20px;
    height:50px;
    width:200px;
    color: white;
    border:1px solid green;
    text-transform: uppercase;
    background-color: green;
    border-radius: 30px;
    cursor: pointer;
    

}

/* company thumbnail */
#company-thumbnail{
    margin-top: 30px;
    background: white;
    padding: 10px;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.company-image{
    width: 100px;
    height: 100px;
}


/* feature section*/

.feature-container{
    margin-top: 3%;
}
.feature-container h1{
    color: black;
}
.mobile-feature-container{
    margin-top: 33%;
}
.minitab-feature-container{
    margin-top: 15%;
}

.tab-feature-container{
    margin-top: 5%;
}

.card{
    margin: 20px;
    text-align: center;
    border-color: 10px solid green;
    padding: 10px;
}

.card-img{
    width:350px;
    height: 200px;
    align-self: center;

}
